@use '../../../styles//helpers/helpers' as *;

.cart {
  flex: 1;
  @include flexBox;
  @include flexProperty(flex-end, center);
  width: 4rem;
  height: 4rem;
  position: relative;
  cursor: pointer;

  @include respond(tab-portrate) {
    flex: 0;
  }

  .contentAmount {
    @include flexBox;
    @include flexProperty(center, center);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0rem;
    right: -0.5rem;
    background: color('whiteColor');
    font-size: size('smallSize');
    border-radius: 50%;
    color: color('orangeColor');
  }

  .cartIcon {
    width: 3rem;
    height: 3rem;
  }
}
