@use '../../../styles/helpers/helpers' as *;

.product {
  @include flexBox;
  gap: 5rem;
  padding-top: 6rem;
  max-width: $container-width;
  margin: 0 auto;

  @include respond(tab-landscape) {
    padding: 4rem 3rem 0 3rem;
  }

  .figure {
    flex: 2;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: flex-start;
  }

  .productDetails {
    flex: 4;
  }

  .title {
    text-transform: uppercase;
    font-size: size('bigSize');
    margin-top: 2rem;
  }

  .price {
    margin-top: 1rem;
    color: color('orangeColor');
    text-decoration: underline;
  }

  .description {
    margin: 3rem 0;
    font-size: size('smallSize');
  }

  .sizesForm {
    margin-top: 1rem;
    @include flexBox;
    gap: 3rem;
  }

  .size {
    position: relative;
    cursor: pointer;

    &:nth-child(1) .sizeFigure {
      width: 3.5rem;
      height: 3.5rem;
    }

    &:nth-child(2) .sizeFigure {
      width: 4rem;
      height: 4rem;
    }

    &:nth-child(3) .sizeFigure {
      width: 4.5rem;
      height: 4.5rem;
    }

    & figcaption {
      position: absolute;
      top: -0.5rem;
      right: -1rem;
      background: green;
      padding: 0 0.5rem;
      border-radius: 1rem;
      font-size: size('smallestSize');
    }

    & .inp {
      display: none;
    }
  }

  .ingredientsTitle {
    text-transform: capitalize;
    margin-top: 5rem;
  }

  .ingredientsForm {
    margin-top: 1rem;
    @include flexBox;
    gap: 1rem;
    text-transform: capitalize;
  }

  .ingredient {
    @include flexBox;
    font-size: size('smallSize');
    gap: 0.3rem;
  }

  .quantityForm {
    margin-top: 3rem;
    @include flexBox;
    gap: 1rem;
    
    & input {
      color:color('blackColor');
      outline: none;
      width: 5rem;
      height: 3rem;
    }

    & input::-webkit-outer-spin-button,
    & input::-webkit-inner-spin-button {
      display: none;
    }
  }

  .btn {
    padding: 0.5rem 1rem;
    height: 3rem;
  }
}
