@use '../../../styles/helpers/helpers' as *;

.product {
  @include flexBox;
  gap: 5rem;
  padding-top: 6rem;
  max-width: $container-width;
  margin: 0 auto;

  @include respond(tab-landscape) {
    padding: 4rem 3rem 0 3rem;
  }

  .figure {
    flex: 2;
    width: 100%;
    aspect-ratio: 1/1;
    align-self: flex-start;
  }

  .productDetails {
    flex: 4;
  }
}
