@use '../../../styles/helpers/helpers' as *;

.quantityForm {
  margin-top: 3rem;
  @include flexBox;
  gap: 1rem;

  & input {
    color: color('blackColor');
    outline: none;
    width: 5rem;
    height: 3rem;
  }

  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    display: none;
  }

  .btn {
    padding: 0.5rem 1rem;
    height: 3rem;
  }
}
