@use '../../../styles//helpers/helpers' as *;

.order {
  max-width: $container-width;
  margin: 0 auto;
  margin-top: 5rem;
  @include flexBox;
  gap: 10rem;

  @include respond(tab-landscape) {
    flex-direction: column;
    padding: 0 3rem;
  }

  .detailsBox {
    flex: 5;
    align-self: flex-start;

    @include respond(tab-landscape) {
      width: 100%;
    }
  }

  .info {
    @include respond(tab-landscape) {
      width: 100%;
    }
  }

  .customerTable {
    width: 100%;

    & tr th {
      text-align: start;
      text-transform: capitalize;
    }
  }

  .progressBox {
    @include flexBox;
    @include flexProperty(space-between, flex-start);
    margin-top: 6rem;
  }

  .progressIcon {
    width: 4rem;
    height: 4rem;
  }

  .checkedIcon {
    width: 2rem;
    height: 2rem;
  }

  .done,
  .inProgress,
  .undone {
    @include flexBox(column);
    @include flexProperty(flex-start, center);
    gap: 0.3rem;
    text-transform: capitalize;
  }

  .inProgress .checkedIcon,
  .undone .checkedIcon {
    display: none;
  }

  .inProgress {
    animation: inProgress 1.5s ease infinite alternate;
  }

  .undone {
    opacity: 0.3;
  }
}
