@use '../../../styles//helpers/helpers' as *;

.order {
  max-width: $container-width;
  margin: 0 auto;
  margin-top: 5rem;
  @include flexBox;
  gap: 10rem;

  @include respond(tab-landscape) {
    flex-direction: column;
    padding: 0 3rem;
  }

  .detailsBox {
    flex: 5;
    align-self: flex-start;

    @include respond(tab-landscape) {
      width: 100%;
    }
  }

  .info {
    @include respond(tab-landscape) {
      width: 100%;
    }
  }
}
